body{
    background-image: url(./backimg.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
      
}

h2 {
    color: white;
    text-align: center;
}

label{
    color: white;
    text-align: center;
}
.centralizar{
    text-align: center;
}